#bodyCell {
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body,
#bodyCell,
#email_body_html,
#bodyCell #combined_header_snippet table.header-web-version td {
    background-color: #edebe4;
    color: #585757;
}

#email_body_html a {
    color: inherit;
    text-decoration: underline;
}

#bodyCell #combined_header_snippet table.header-web-version p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#bodyCell #combined_header_snippet .snippet_block_banner_image {
    width: 100%;
}

#bodyCell #combined_header_snippet > table:nth-child(1) a {
    color: #585757;
    text-decoration: underline;
}

#bodyCell .flexibleContainer {
    color: #585757;
}

#combined_footer_snippet > table > tbody > tr > td {
    background-color: #E3F4CA;
}

#combined_footer_snippet > table:first-of-type > tbody > tr > td {
    padding-top: 0px;
    padding-bottom: 10px;
}

#combined_footer_snippet hr {
    height: 0px;
    background-color: #585757;
    border: 1px solid #585757 !important;
}

#bodyCell #combined_footer_snippet *,
#bodyCell #combined_footer_snippet .flexibleContainer p {
    color: #585757;
}

#bodyCell #combined_footer_snippet .flexibleContainerLeft p {
    text-align: left;
}

#bodyCell #combined_footer_snippet .flexibleContainerRight p {
    text-align: right;
}

#bodyCell #combined_footer_snippet .flexibleContainerLeft p,
#bodyCell #combined_footer_snippet .flexibleContainerRight p {
    margin-block-start: 5px;
    margin-block-end: 5px;
}

#bodyCell #combined_footer_snippet .footer-spenden-button a,
#bodyCell #combined_footer_snippet .footer-spenden-button a * {
    color: #0c0c0c;
}
#bodyCell #combined_footer_snippet .footer-spenden-button {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 9px;
}

@media screen and (max-width: 480px) {
    #bodyCell #combined_footer_snippet .flexibleContainerLeft p {
        text-align: center;
    }

    #bodyCell #combined_footer_snippet .flexibleContainerRight p {
        text-align: center;
    }

    #bodyCell #combined_footer_snippet .footer-spenden-button {
        width: 100%;
    }
}

/************************
    New theme colors
************************/

/*
    Background styles
*/

.vgtf_sb_bg_transparent .flexibleContainerCell,
.vgtf_sb_bg_transparent .flexibleContainerCell .nestedContainerCell {
    background-color: transparent;
}

.vgtf_sb_bg_white .flexibleContainerCell,
.vgtf_sb_bg_white .flexibleContainerCell .nestedContainerCell {
    background-color: #ffffff;
}

.vgtf_sb_bg_lightgray .flexibleContainerCell,
.vgtf_sb_bg_lightgray .flexibleContainerCell .nestedContainerCell {
    background-color: #a1a4a5;
}

.vgtf_sb_bg_gray .flexibleContainerCell,
.vgtf_sb_bg_gray .flexibleContainerCell .nestedContainerCell {
    background-color: #585757;
    color: white;
}

.vgtf_sb_bg_green1 .flexibleContainerCell,
.vgtf_sb_bg_green1 .flexibleContainerCell .nestedContainerCell {
    background-color: #94C11F;
    color: white;
}

.vgtf_sb_bg_green2 .flexibleContainerCell,
.vgtf_sb_bg_green2 .flexibleContainerCell .nestedContainerCell {
    background-color: #BCCF00;
}

.vgtf_sb_bg_green3 .flexibleContainerCell,
.vgtf_sb_bg_green3 .flexibleContainerCell .nestedContainerCell {
    background-color: #7AC183;
}

.vgtf_sb_bg_orange .flexibleContainerCell,
.vgtf_sb_bg_orange .flexibleContainerCell .nestedContainerCell {
    background-color: #f7a600;
}

/*
    Foreground styles
*/

.vgtf_sb_fg_white .flexibleContainerCell,
.vgtf_sb_fg_white .flexibleContainerCell .nestedContainerCell {
    color: white;
}

.vgtf_sb_fg_gray .flexibleContainerCell,
.vgtf_sb_fg_gray .flexibleContainerCell .nestedContainerCell {
    color: #585757;
}

.vgtf_sb_fg_black .flexibleContainerCell,
.vgtf_sb_fg_black .flexibleContainerCell .nestedContainerCell {
    color: black;
}

/*
    Bullet proof button styles
*/
#email_body_html .snippet_block_bpbutton .bpbutton_table a,
#email_body_html .snippet_block_bpbutton .bpbutton_table a:visited,
#email_body_html .snippet_block_bpbutton .bpbutton_table a:hover {
    text-decoration: none;
}

/* green */
.snippet_block_bpbutton.bpbutton_style_green .bpbutton_table,
.snippet_block_bpbutton.bpbutton_style_green .bpbutton_table a,
.snippet_block_bpbutton.bpbutton_style_green .bpbutton_table a:visited,
.snippet_block_bpbutton.bpbutton_style_green .bpbutton_table a:hover {
    background-color: #94c11f;
    border-color: #94c11f;
    color: white;
}

/* orange */
.snippet_block_bpbutton.bpbutton_style_orange .bpbutton_table,
.snippet_block_bpbutton.bpbutton_style_orange .bpbutton_table a,
.snippet_block_bpbutton.bpbutton_style_orange .bpbutton_table a:visited,
.snippet_block_bpbutton.bpbutton_style_orange .bpbutton_table a:hover {
    background-color: #f7a600;
    border-color: #f7a600;
    color: white;
}

/*
    Foreground bp button styles
*/
#email_body_html .snippet_block_bpbutton.bpbutton_foreground_style_gray a {
    color: #585757;
}

#email_body_html .snippet_block_bpbutton.bpbutton_foreground_style_black a {
    color: black;
}

#email_body_html .snippet_block_bpbutton.bpbutton_foreground_style_white a {
    color: white;
}

/*
    Additional bullet proof button sizes
*/

/* normal plus */
.snippet_block_bpbutton.bpbutton_normal_p .bpbutton_table {

}
.snippet_block_bpbutton.bpbutton_normal_p .bpbutton_table a {
    font-size: 18px;
    border-width: 0.5em 1.25em;
}

@media only screen and (max-width: 480px) {
    .snippet_block_bpbutton.bpbutton_normal_p .bpbutton_table {
        border-radius: 0px;
    }
}

/*
    Additional drop in button sizes
*/

#emailBody span.drop_in_button.dadi_di_button_normal_p,
#emailBody span.drop_in_button.dadi_di_button_normal_p a {
    font-size: 20px;
}

#emailBody span.drop_in_button.dadi_di_button_normal_pp,
#emailBody span.drop_in_button.dadi_di_button_normal_pp a {
    font-size: 26px;
}

/*
    Additional drop in button colors
*/
#emailBody span.drop_in_button.vgtf_di_button_green a:visited,
#emailBody span.drop_in_button.vgtf_di_button_green a {
    background-color: #94c11f;
    border-color: #94c11f;
}

#emailBody span.drop_in_button.vgtf_di_button_orange a:visited,
#emailBody span.drop_in_button.vgtf_di_button_orange a {
    background-color: #f7a600;
    border-color: #f7a600;
}

/*
    Drop in button foreground colors
*/

#emailBody span.drop_in_button.drop_in_button_foreground_gray a:visited,
#emailBody span.drop_in_button.drop_in_button_foreground_gray a {
    color: #585757;
}

#emailBody span.drop_in_button.drop_in_button_foreground_black a:visited,
#emailBody span.drop_in_button.drop_in_button_foreground_black a {
    color: black;
}

#emailBody span.drop_in_button.drop_in_button_foreground_white a:visited,
#emailBody span.drop_in_button.drop_in_button_foreground_white a {
    color: white;
}

/*************************************
    Neue snipptest 2024-02-05
*************************************/

#emailBody h1,
#emailBody h2,
#emailBody h3,
#emailBody h4,
#emailBody h5,
#emailBody h6 {
    font-weight: bold;
}

.vgtf_snippet_block h1,
.vgtf_snippet_block h2,
.vgtf_snippet_block h3,
.vgtf_snippet_block h4,
.vgtf_snippet_block h5,
.vgtf_snippet_block h6 {
    margin-top: 0px;
}

#combined_screening_snippet.vgtf_sb_fg_gray h1,
#combined_screening_snippet.vgtf_sb_fg_gray h2,
#combined_screening_snippet.vgtf_sb_fg_gray h3,
#combined_screening_snippet.vgtf_sb_fg_gray h4,
#combined_screening_snippet.vgtf_sb_fg_gray h5,
#combined_screening_snippet.vgtf_sb_fg_gray h6 {
    color: #BCCF00;
}

.vgtf_margin_option_small {
    margin-top: 5px;
    margin-bottom: 5px;
}

.vgtf_margin_option_medium {
    margin-top: 10px;
    margin-bottom: 10px;
}

.vgtf_margin_option_large {
    margin-top: 20px;
    margin-bottom: 20px;
}

.vgtf_snippet_block.snippet_block_text_image_left .flexibleContainerLeft,
.vgtf_snippet_block.snippet_block_text_image_left .flexibleContainerLeft .flexibleImage {
    width: 80px;

}
.vgtf_snippet_block.snippet_block_text_image_left .flexibleContainerRight,
.vgtf_snippet_block.snippet_block_text_image_left .flexibleContainerRight .flexibleImage {
    width: 460px;
}

@media only screen and (max-width: 480px) {
    .vgtf_snippet_block.snippet_block_text_image_left .flexibleContainerLeft,
    .vgtf_snippet_block.snippet_block_text_image_left .flexibleContainerLeft .flexibleImage {
        width: 80px;
    }

    .vgtf_snippet_block.snippet_block_text_image_left .flexibleContainerLeft {
        width: 100%;
        max-width: 100%;
        text-align: center !important;
        text-align: -webkit-center !important;
    }
    .vgtf_snippet_block.snippet_block_text_image_left .flexibleContainerLeft .flexibleImage {
        display: inline-block;
    }
}